
<div class="form-group">
    @using (Html.BeginForm("List", "Payment", FormMethod.Get))
    {
        <input type="hidden" name="clearSearch" id="clearSearch" value="false" />

        <div class="input-group mb-3" style="width: 80%">

            <div style="float: left; width: 30%" class="pr-2">
                @Html.TextBox("searchpaymentText", ViewBag.CurrentFilter as string, new { id = "searchPayment", @class = "k-textbox", placeholder = "Search Payment...", style = "width:100%" })
            </div>

            <div style="width: 40%; float: left;" class="k-group">
                <button type="submit" class="k-button"><i class="fa fa-search" style="color: yellowgreen"></i> Search</button>

                <button type="submit" class="k-button k-notification-button" id="clear"><i class="fa fa-times" style="color: lightblue"></i> Clear</button>
            </div>
        </div>
    }

</div>


