
@{
    ViewBag.Title = "Employee Payments";
}

<h2>Employee Payments</h2>


<div class="pt-3 pb-3">
    <a href="@Url.Action("Create", "Payment")" class="k-button"><i class="fa fa-plus" style="color: yellowgreen"></i> New Voucher</a>
    <a href="@Url.Action("Create", "Payment")" class="k-button"><i class="fa fa-plus" style="color: yellowgreen"></i> New Employee</a>
</div>

<div class="row pb-3">
    <div class="col-md-4" style="padding:0;">
        <input class=k-textbox type=text id="txtSearchString" style="width: 100%" placeholder="Voucher#..." />
    </div>
    <div class="col-md-8">
        <button type="submit" class="k-button" id="btnSearch"><i class="fa fa-search" style="color: yellowgreen"></i> Search</button>
        <button type="submit" class="k-button k-notification-button" id="btnClear"><i class="fa fa-times" style="color: lightblue"></i> Clear</button>
    </div>

</div>

