@*@using PagedList.Mvc;
    @model PagedList.IPagedList<Kwt.PatientsMgtApp.Core.Models.PaymentModel>*@

@model List<Kwt.PatientsMgtApp.Core.Models.PaymentModel>

@{
    ViewBag.Title = "Payment List";
}
<div class="pt-3 pb-3">
    <a href="@Url.Action("Create", "Payment")" class="k-button"><i class="fa fa-plus" style="color: yellowgreen"></i> New Payment</a>
    <a href="javascript:window.print()" class="k-button"><i class="fa fa-print" style="color: blueviolet"></i> Print This Page</a>
</div>
@* new February 28, 2019 *@
<div class="pt-4">
    <div style="display: inline">
        <input id="paymentDt1" class="k-textbox" placeholder="MM/dd/YYYY"/>
        
    </div>

    <div style="display: inline">

        <input id="paymentDt2" class="k-textbox" placeholder="MM/dd/YYYY"/>
        
    </div>
    <a href="javascript:showTodayPayments()" class="k-button">Get Payments</a>
   

</div>
<div class="modal fade bd-example-modal-lg" id="todayPaymentList" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">
                    <i id="payment1"></i> <i id="payment2"></i> Payments
                </h4>
            </div>
            <div class="modal-body">
                <div id="paymentGrid"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
@* new February 28, 2019 *@
<div class="pb-5 pt-5">
    @if (Model.Any())
    {
        <div class="pb-3">
            @{Html.RenderPartial("_PaymentSearchForm");}
        </div>
        <div class="loader"></div>

        <div id="content" style="visibility: hidden;">
            <div id="paymentList"></div>
           
        </div>
                }
                else
                {
                    <div class="alert-info">
                        No Payments to show in our records!
                    </div>
                }

</div>



@section DeleteConfirm{

    @{ Html.RenderPartial("_DeleteConfirmationModel"); }

}

@section Scripts {

    @{ Html.RenderPartial("_DeleteConfirmationjs"); }
    <script type="text/javascript">
        $("#clear").click(function (e) {
            $("#searchPayment").val("");
            $("#clearSearch").val(true);
        });
    </script>
    <script src="https://kendo.cdn.telerik.com/2018.2.516/js/pako_deflate.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.1.118/js/jszip.min.js"></script><!-- required to export grid to excel-->
    <script type="text/javascript">

        $('document').ready(function () {
            $("#content").css("visibility", "visible");
            //
            $('#paymentDt1, #paymentDt2').datepicker();

            //
            var data = @Html.Raw(Json.Encode(Model));

            //$("#paymentList").kendoGrid({
            //    toolbar: "<p>This is the list of all payments we have in our records</p>",
            //    height: 550,
            //    groupable: true,
            //    sortable: true,
            //    pageable: {
            //        pageSize: 15,
            //        alwaysVisible: false
            //    }
            //});
            $("#paymentList").kendoGrid({
                toolbar: ["pdf","excel"],
                pdf: {
                    fileName: $("#paymentDt1").val()+" "+$("#paymentDt2").val()+" payments.pdf"
                },
                excel: {
                    fileName: $("#paymentDt1").val()+" "+$("#paymentDt2").val()+" payments.xlsx",
                    filterable: true
                },
                columns: [{
                    field: "Id",
                    title: "Payment Num",

                    template: "<a href='@Url.Action("Details", "Payment")?paymentId=#= Id#'>#= Id #</a>",
                    @*cellTemplate: '<div class="ui-grid-cell-contents"><a href={{@Url.Action("Details", "Payment")}} class="icon-bar">{{row.entity.Id}}</a></div>'*@
                },
                {
                    field: "PaymentDateFormatted",
                    title: "Payment Date"
                },
                {
                    field: "PatientCID",
                    title: "P_CID"
                },
                {
                    field: "CompanionCID",
                    title: "C_CID"
                },
                {
                    field: "PaymentLengthPeriod",
                    title: "Period"
                },
                {
                    field: "PaymentStartDate",
                    title: "From",
                    template: "#= kendo.toString(kendo.parseDate(PaymentStartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                },
                {
                    field: "PaymentEndDate",
                    title: "To",
                    template: "#= kendo.toString(kendo.parseDate(PaymentEndDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                },
                {
                    field: "TotalDue",
                    title: "Amount"
                }],
                dataSource: {
                    data: data
                }
            });

            $(".loader").css("display", "none");
        });
    </script>

    @* new February 28, 2019 *@
    <script type="text/javascript">

        //function printPayment() {
        //    var grid = $("#paymentGrid").data("kendoGrid");
        //    grid.saveAsExcel();
        //    console.log("Print excel payment");
        //}
        function showTodayPayments() {
            
            var firstDate = $('#paymentDt1').val();
            var secondDate = $('#paymentDt2').val();

            $("#payment1").html(firstDate);
            $('#payment2').html(function() {
                if (secondDate && firstDate) {
                    return " | " + secondDate;
                }
                return secondDate;
            });
            $('#todayPaymentList').modal('show');
            var date1 = new Date(firstDate).toDateString();
            date1 = new Date(date1).getTime();

            var date2 = new Date(secondDate).toDateString();
            date2 = new Date(date2).getTime();
            var payments=@Html.Raw(Json.Encode(Model));

            payments= payments.filter(function (entry) {
                var paymentDate = new Date(entry.PaymentDateFormatted).toDateString();
                
                return  (
                        //date1 >= new Date(paymentDate).getTime() && date2<= new Date(paymentDate).getTime() 
                    (date1 === new Date(paymentDate).getTime() || date2=== new Date(paymentDate).getTime() )
                    ||(date1 < new Date(paymentDate).getTime() && date2> new Date(paymentDate).getTime() )  
                        );
            }).sort(function(a,b){
                // Turn your strings into dates, and then subtract them
                // to get a value that is either negative, positive, or zero.
                return new Date(a.PaymentDateFormatted) - new Date(b.PaymentDateFormatted);
            });
            $("#paymentGrid").kendoGrid({
                toolbar: ["pdf","excel"],
                pdf: {
                    fileName: "Today payments.pdf"
                },
                excel: {
                    fileName: firstDate+" "+secondDate+" Payments.xlsx",
                    
                    filterable: true
                },
                columns: [
                    {
                        field: "PaymentDateFormatted",
                        title: "Payment Date"
                    },{
                        field: "PatientPhone",
                        title: "Patient Phone"
                    },
                {
                    field: "PatientCID",
                    title: "P_CID"
                },{
                    field: "PaymentStartDate",
                    title: "From",
                    template: "#= kendo.toString(kendo.parseDate(PaymentStartDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                },
                {
                    field: "PaymentEndDate",
                    title: "To",
                    template: "#= kendo.toString(kendo.parseDate(PaymentEndDate, 'yyyy-MM-dd'), 'MM/dd/yyyy') #"
                },{
                    field: "TotalDue",
                    title: "Amount"
                }],
                dataSource: {
                    data: payments
                }
            });

        }
        
        $(function () {
            $("#deleteConfirmModal").on('click', "#deleteConfirm", function () {
                
            });
        });

    </script>
}