
@{
    ViewBag.Title = "Access Denied";
}
<div class="center" style="text-align: center;">
    <div>
        <p class="alert-warning">You Dont Have Access To The Page You Requested</p>
        <img src="~/Content/Images/Blocked.png" style="width: 200px;"/>
        <p><a href="@Url.Action("Index", "Home")" class="k-button"><i class="fa fa-home"></i> Home</a></p>
    </div>
</div>

