
@{
    ViewBag.Title = "404 Not Found!";
}



<div style="text-align: center"><a href="@Url.Action("Index", "Home")" class="k-button"><i class="fa fa-home" style="color: yellowgreen"></i> Home</a></div>
<div  style="text-align: center">
    <div >
        
        <img src="~/Content/Images/404-png.png"/>
    </div>
</div>


