
@{
    ViewBag.Title = "Reports List";
}

<h2>Reports List</h2>
<div class="p-2">
    @Html.ActionLink("Patient Report", "Patient", null, new {@class="btn btn-info"})
</div>
<div class="p-2">
    @Html.ActionLink("Payment Report", "Payment", null, new { @class = "btn btn-info" })
</div>