
@{
    ViewBag.Title = "Patient Report";
}

<div class="pt-3 pb-3 row">
    <a href="@Url.Action("Payment", "Report")" class="k-button col-md-3"><i class="fa fa-dollar" style="color: orange"></i> Payment Report</a>
    @*<a href="@Url.Action("PaymentReference", "Report")" class="k-button col-md-3" ><i class="fa fa-plus-circle" style="color:orange"></i> Create Payment Reference</a>*@
</div>

@*<h2>Patient Report</h2>*@
@*<div class="p-3">
    @Html.ActionLink("Back To Report List", "List")
</div>*@


    <fieldset style="width: 100%; min-width: fit-content;">
        <legend>Patient Report</legend>
        <iframe runat="server" id="Reports" src="~/Reports/Patient.aspx"
                scrolling="no"
                style="border: none;width: 1000px; height: 1000px;"
                onload=" this.style.height=this.contentDocument.body.scrollHeight + 'px' ; this.style.width=this.contentDocument.body.scrollWidth + 'px' ; "></iframe>
    </fieldset>
    
