
@{
    ViewBag.Title = "Patient Report";
}

<h2>Patient Report</h2>
<div class="p-3">
    @Html.ActionLink("Back To Report List", "List")
</div>

<div>
    <iframe runat="server" id="Reports" src="~/Reports/Patient.aspx"
            scrolling="no"
            style="border: none"
            onload="this.style.height = this.contentDocument.body.scrollHeight + 'px';
        this.style.width = this.contentDocument.body.scrollWidth + 'px';"></iframe>
</div>