<div class="modal fade" id="CompanionConfirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteLabel">Creating New Patient</h4>
            </div>
            <div class="modal-body">
                
                <p>
                    Does this patient has a primary companion?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-success" id="companionConfirm">YES</button>
            </div>
        </div>
    </div>
</div>

