@*@model System.Web.Mvc.HandleErrorInfo*@
@model string[]
@{
    ViewBag.Title = "Error";
}

@*<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>*@
@foreach (var item in Model)
{
    <div class="alert-danger badge">@item</div>
}
