@*@model System.Web.Mvc.HandleErrorInfo*@
@*@model string[]
@{
    ViewBag.Title = "Error";
}


@foreach (var item in Model)
{
    <div class="alert-danger badge" style="width: 100%; padding: 30px;">@item</div>
}*@
@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}

@{
    if (Model != null && Model.Exception != null)
    {   
        <h4>Error: @Model.Exception.GetType().Name</h4>
        if (Request.IsLocal)
        {
            <div class="alert-danger badge" style="width: 100%; padding: 30px;">@Model.Exception.Message</div>
        }
    }
}
        