<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div id="sidebar" class="inline-block">
        <ul>
            <li>
                <a href="/Account_Management/AccountInfo.aspx">
                    <img src="/images/img-members.png" alt="Account Login"><span id="ctl00_lblAccount">Account Login</span>
                </a>
            </li>
            <li>
                <a href="/EZPages/Application.aspx" id="ctl00_imgOrderNow">
                    <img src="/images/img-signup.png" alt="Order Now">Order Now
                </a>
            </li>
            <li>
                <a id="ctl00_imgRegister" href="/EZPages/RegisterOnTheGo.aspx">
                    <img src="/images/img-register.png" alt="Register On-the-Go">Register On-the-Go
                </a>
            </li>
            <li>
                <a href="/reloadcard">
                    <img src="/images/img-switch.png" alt="Switch to E-ZPass Flex">Reload Card
                </a>
            </li>
            <li>
                <a href="https://www.tollroadsinvirginia.com/MissedToll/FindFacility" target="_blank">
                    <img src="/images/img-missed-a-toll.png" alt="Pay a Missed Toll">Pay a Missed Toll
                </a>
            </li>
            <li>
                <a href="/Violations/ViolationsInfo.aspx">
                    <img src="/images/img-violations.png" alt="Violations">Violations
                </a>
            </li>
        </ul>

       



       
    </div>
</body>
</html>
